<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table td {padding: 3px;}
#canvas_container {
    width: 700px;
}



    </style>
</head>
<body>
<script>
    $(function() {
var paper = new Raphael(document.getElementById('canvas_container'), 600, 525);
  // First convert TABLE data to objects
  var aRows = $('#html5logo tbody tr:not(:first-child)');
  var oData = {devices: []};
  for(var i=0; i<aRows.length; i++) {
    var $this = $(aRows[i]);
    oData.devices[oData.devices.length] = {
      device: $this.find('td:nth-child(1)').text(),
      ratio: $this.find('td:nth-child(5)').text().split(' ')[0]
    };
   //   console.log(i, oData.device, oData.ratio);
  }
  // Okay we got a table of: "Device","ratio"
  // We should now render it to SVG using Raphael
  // I choose to iterate data from 0..number of rows
  // so that we get fastest at bottom and slowest at top
  var height = 40, x = 170, scale=6, devices = oData.devices.length;
  var style = {
    bg: 'rgba(0,0,0,.4)',
    text: 'rgba(16,16,55,.7)',
    value: 'rgba(16,16,0,.8)'
  }
  for(var i=0; i<50; i++) {
    var xx = x+(i*scale);
    var line = paper.path('M '+xx+',15 L '+xx+','+(height*devices*1.115));
    line.attr({'stroke':style.bg});
  }
  for(var i=0; i<devices; i++) {
    var me = oData.devices[i];
    var y = (devices-i)*height;
    var width = x+(me.ratio*scale);
    var rectangle = paper.rect(x, y, 0, height*.9);
    rectangle.attr({fill: style.bg, stroke: '#ddd', 'stroke-width': 0});
    rectangle.animate({"width": width}, 1000*me.ratio/30);

    var value = paper.text(width+x+20, y+(height*.5), me.ratio)
        value.attr({'opacity':0, 'font-size': 12, 'stroke':style.value, 'text-align':'left'})
          value.animate({"opacity": 1}, 2000);

    var text = paper.text(90, y+(height*.5), me.device)
        text.attr({'font-size': 12, 'stroke':style.text, 'width':'100px', 'text-align':'left'})


  }
})



</script>
<div class="container" ng-app="myApp" ng-controller="Example">
    <div class="jumbotron">
        <div class="container">
            <h2>Create SVG from HTML Table data - Using Raphael API</h2>
            <p>I want to render a graph of data in a table using Raphael SVG/VML API.
                <br>I use a table from "random" post on <a
                        href="https://www.html5rocks.com/en/tutorials/svg/mobile_fundamentals/">HTML5Rocks</a> about
                SVG.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <table border="1" id="html5logo" class="table table-striped">
                    <caption style="caption-side:bottom;">HTML5 logo image size comparison</caption>
                    <tbody>
                    <tr>
                        <th>Device</th>
                        <th>Resolution</th>
                        <th>PNG image</th>
                        <th>JPEG image</th>
                        <th>Image/Vector ratio</th>
                    </tr>
                    {% for item in data %}
                    <tr>
                        <td>{{item.client_name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.daily_profit_loss}}</td>
                        <td>{{item.notional}}</td>
                        <td>{{item.notional_minus_realized_gains}}</td>
                        <td>{{item.net_notional_plus_minus_unrealized_gain_loss}}</td>
                        <td>{{item.beginning_margin_balance}}</td>
                        <td>{{item.unrealized_gain_loss}}</td>
                        <td>{{item.realized_gain_loss}}</td>
                        <td>{{item.realized_gain_loss_total}}</td>
                        <td>{{item.mgt_fee}}</td>
                        <td>{{item.mgt_fee_per_day}}</td>
                        <td>{{item.accrd_mgt_fee}}</td>
                        <td>{{item.pf_fee}}</td>
                        <td>{{item.hwm}}</td>
                        <td>{{item.invoice_amount}}</td>
                        <td>{{item.nav}}</td>
                    </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 col-sm-12">
                <div id="canvas_container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="links">
                    <li>
                        <a href="https://net.tutsplus.com/tutorials/javascript-ajax/an-introduction-to-the-raphael-js-library/">An
                            introduction to Raphael</a> on Tutsplus
                    </li>
                    <li><a href="https://www.html5rocks.com/en/tutorials/svg/mobile_fundamentals/">SPLASH VECTOR
                        GRAPHICS ON YOUR RESPONSIVE SITE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

</body>
</html>